# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs

# Temporary/Build Directory
build/
cmake-build*/
out/
/Documentation
modules/graphics/Private/Renderer/Shader/*.h
.idea/.gitignore
.idea/codeStyles/
.idea/misc.xml
.idea/modules.xml
.idea/netero.iml
.idea/vcs.xml
